$linear-gradient-primary: linear-gradient(
  91.24deg,
  #68e4bc 1.06%,
  #4ad0d1 106.71%
);

$box-shadow-footer: 0px -1px 4px rgba(0, 0, 0, 0.25);

$color-black: #000000;
$color-border-grey: #dedee6;
$color-primary: rgba(104, 228, 188, 1);
$color-white: #ffffff;

$font-primary: Roboto;

$body-max-width: 600px;

$footer-height: 50px;
