@use "component";
@use "layout";
@use "typo";
@use "variable";

* {
  box-sizing: border-box;
}

body {
  font-family: variable.$font-primary;
  max-width: variable.$body-max-width;
  margin: auto;
}

footer {
  background-color: variable.$color-white;
  bottom: 0;
  box-shadow: variable.$box-shadow-footer;
  display: flex;
  height: 50px;
  max-width: variable.$body-max-width;
  position: fixed;
  width: 100%;
}

.hidden {
  position: absolute;
}
